@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap:100,200,300,400,500,600,700');


* {
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    font-family: "Crimson Text", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #777;
    background-color: #111;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

/*--------------------------------------------------------------------navbar*/

.navbar-brand {

    text-transform: uppercase;
    letter-spacing: 4px;
    float: left;
    margin-left: 50px;
    text-align: center;
    transition: .5s;
    font-weight: bold;


}

.navbar-brand:hover {
    text-decoration: underline;
    zoom: 110%;
    filter: brightness(500%);
    transition: 2s;
}

.menu {
    letter-spacing: 4px;
    text-decoration: none;
    filter: brightness(200%);
    margin-right: 20px;
    margin-left: 20px;

}

.menu a {
    text-decoration: none;
    font-weight: bold;
    transition: .5s
}

.Music-nav {
    color: inherit;
    padding-left: 10px;


}

.Music-nav:hover {
    filter: brightness(50%);
    zoom: 110%;

}

.Tour-nav {
    color: inherit;
    padding-left: 10px;

}

.Tour-nav:hover {
    filter: brightness(50%);
    zoom: 110%;

}

.Store-nav {
    color: inherit;
    padding-left: 10px;


}

.Store-nav:hover {
    filter: brightness(50%);
    zoom: 110%;
}

.Bio-nav {
    color: inherit;
    padding-left: 10px;

}

.Bio-nav:hover {
    filter: brightness(50%);
    zoom: 110%;
}

.navbar-toggler {
    margin-right: 10px;
    border: 0;
}

/*--------------------------------------------------navbar*/


/*---------------------------------------------------header*/

header {
    background: url("../images/Pictures.jpg") no-repeat center center fixed;
    background-position: 0% 30%;
    background-size: cover;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
    /*overflow: hidden;*/

}


.name {
    font-family: "New Tegomin", "Crimson Text", "Krona One", sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    color: #634e0b;
    filter: brightness(250%);
    margin: 0;
}

.namelink a {
    text-decoration: none;
}

.subline {
    font-family: "Shadows Into Light", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #888;
    filter: brightness(200%);
    font-size: 45px;
    margin: 20px;
    margin-bottom: 10%;



}

.logo {

    background: url("../images/RUF.jpg");
    background-position: 0% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    border: 5px solid #882222bb;
    border-radius: 100px 100px;
    text-align: center;
    float: right;
    margin-top: 50px;
    margin-left: 0%;

}

.logo:hover {
    width: 60%;
    height: 100%;
    border-radius: 100px 100px;
    background-position: 00% 85%;

}

/*----------------------------------------------------Header*/

/*----------------------------------------------------container*/

.container {

    align-items: center;
    justify-content: center;

    position: absolute;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    margin: 0;


    width: 100vw;

    font-family: inherit;

}


.callout-container {

    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



    display: flex;
    text-align: center;
    justify-content: center;

    padding-left: 0;
    padding-right: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    border: 0;
    margin: 0;

    width: 100vw;

    color: rgb(197, 6, 6);


}

.callout-container h2 {
    padding: 25px;
}

.callout-image {
    text-align: center;
}

.tour-container {
    background: url("../images/Gonzo\ 13-05-2017.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;

    font-family: "Shadows Into Light", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 4px;
    text-align: center;
    list-style-position: inside;



    color: rgb(197, 6, 6);



}

.tour-dates-title {
    font-weight: bold;


}

.store-container {
    background: url("../images/Profiel\ pic\ Slack.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;


}

.bio-container {
    background-color: black;
    font-family: "Shadows Into Light", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    width: 100vw;
    text-align: center;
    padding: 10px;
    margin-right: 5px;

}


.card-body {
    background-color: #634e0b;
}



/*---------------------------------------------------------------------mark*/
.row h2 {
    text-align: center;
}

.mark {
    margin-top: 10px;

}

/*-------------------------------------------------------------------buttons*/
.btn-cta {

    border-radius: 23px;
    width: 160px;


}

.btn-red {
    color: white;
    background-color: #882222ff;
    background-position: center;
    font-size: larger;
}

.btn-secondary {
    background-color: rgb(90, 27, 2)
}



.button-ticket {

    color: #9b7f22;
    background-color: rgb(90, 27, 2);
    text-decoration: none;

}

.button-ticket:hover {
    text-decoration: underline;
    color: #9b7f22;
}

.button-bio {
    font-size: 25px;



}

.button-bio:hover {
    background-color: #9b7f22;

}

.button-bio-nav {
    color: #888;
    text-decoration: none;
}

/*--------------------------------------------------------------------buttons*/

/*---------------------------------------------------------------------hr*/
.block-divider {
    height: 5px;
    color: white;
}

/*--------------------------------------------------------------------Form/gallery*/
.pages-title {
    font-size: 20px;
    color: white;
    margin-left: 25px;
}

.pages-brand {
    font-family: "Shadows Into Light", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #882222bb;
    font-size: 25px;
    float: right;
    margin-left: 65%;
}

.gallery-image {
    width: 100%;
    height: auto;
}

.photo p {
    text-align: center;
    font-size: 20px;
}

/*--------------------------------------------------------------------------------------------Footer*/
.footer {
    margin-left: 10px;
    text-align: center;
    width: 100%;

}